{% extends "layout.html" %}

{% block page_title %}Комиссии > Сводное движение средств{% endblock %}

{% block menu %}
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Сводное движение средств</li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
<div ng-controller="CommissionController" ng-init="search.period='day';">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endwith %}

  <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <ul class="nav nav-tabs">
      <li ng-click="search.period='day';search.page=1" ng-class="(search.period=='day')?'active':''"><a>День</a></li>
      <li ng-click="search.period='week';search.page=1" ng-class="(search.period=='week')?'active':''"><a>Неделя</a></li>
      <li ng-click="search.period='month';search.page=1" ng-class="(search.period=='month')?'active':''"><a>Месяц</a></li>
    </ul>
    <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th class="text-center">Дата</th>
            <th class="text-right">Кол-во операций</th>
            <th class="text-right">Сумма, руб</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in result">
              <td class="text-center">{[{row.date}]}</td>
              <td class="text-right">{[{row.count}]}</td>
              <td class="text-right">{[{row.summ}]}</td>
            </tr>
        </tbody>
      </table>

      <ul class="pagination" ng-show="pagination.length > 3">
        <li ng-repeat="page in pagination" ng-class="page.class"><a ng-click="search.page = page.page">{[{::page.caption}]}</a></li>
      </ul>
    </div>

</div>
{% endblock %}
