<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="term_admin" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" ng-app="term_admin" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" ng-app="term_admin" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="term_admin" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}Комиссии по терминалам{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block css %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
  {% with form=form  %}
  {% include "nav.html" %}
  {% endwith %}

  <header>{% block header %}{% endblock %}</header>
  <div class="{% block content_class %}container{% endblock content_class %}">

    <div role="main">
      {% block menu %}
        <div class="row">
          <div class="col-md-11">
            {% block breadcrumb %}{% endblock %}
          </div>
        </div>
      {% endblock %}

      {% block content %}{% endblock %}
    </div>

  </div>

  {% include "footer.html" %}
{% endblock %}

{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block js %}{% endblock %}

</body>
</html>
