{% set navigation_bar = [
    (url_for('commission.consolidated'), 'consolidated', 'Сводное движение средств '),
    (url_for('commission.history'), 'history', 'По-месячная история'),
] -%}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('public.index') }}">Комиссии по терминалам</a>
    </div>
    {% if 'user' in g and g.user.group == 1 %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-left">
        {% for href, id, caption in navigation_bar %}
          {% if request.endpoint %}
            <li {% if id in request.endpoint %} class="active"{% endif %}>
              <a class="navbar-link" href="{{ href|e }}">{{ caption|e }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="navbar-link" href="{{ url_for('user.logout') }}">Выйти <i class="fa fa-sign-out"></i>
            </a>
          </li>
       </ul>
    </div>
    {% endif %}
  </div>
</nav>
